<h1>Books</h1>

<thead>
    <tr>
      <th>title</th>
      <th>opinion</th>
    </tr>
  </thead>

<% @books.each do |book| %>
<div>
  <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
</div>

<%= link_to "Show", book_path(book.id) %>
<% end %>